* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--family);
}

header {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

nav a.active {
  font-weight: 800;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.fa-search {
  background-color: #808080;
  padding: 10px;
  border-radius: 20px;
}

.hero {
  background-image: url("assets/images/homeImg.jpeg");
}
p {
  font-size: var(--para);
}
